<h2>Add New Work</h2>
<form action="/@artist.name %>/new" method="POST">
  <p>Work Title: <input type="text" name="title"></p>
  <p>Year: <input type="text" name="year"></p>
  <p>Medium: <input type="text" name="medium"></p>
  <p>Price: <input type="text" name="price"></p>
  <input type="submit" name="submit" value="Add Work">
</form>
