<h2>Sign Up</h2>
<form action="/signup" method="POST">
  <p>Gallery Name: <input type="text" name="gallery_name"></p>
  <p>Email: <input type="text" name="email"></p>
  <p>Password: <input type="text" name="password"></p>
  <input type="submit" name="submit" value="submit">
</form>
