<% if logged_in? %>
  <h2> <%=current_user.username %>'s' to Account </h2>

  <% current_user.artists.each do |artist| %>
    <li><a href=""><%= artist.name %></a></li>
  <% end %>


<% else %>
  <h2>Welcome to ArtBinder</h2>

  <p><a href="">Sign Up<</a> or <a href="">Log In</a></p>

  <form action="/signup" method="POST">
    <p>Gallery Name: <input type="text" name="gallery_name"></p>
    <p>Email: <input type="text" name="email"></p>
    <p>Password: <input type="text" name="password"></p>
    <input type="submit" name="submit" value="submit">
  </form>

<%end %>
