<% if logged_in? %>
  <h2> <%=current_user.gallery_name %>'s Account </h2>

  <p><a href="/artist/new">Add Artist</a></p>

  <% current_user.artists.each do |artist| %>
    <li><a href="/<%=artist.name %>"><%= artist.name %></a></li>
  <% end %>




<% else %>
  <h2>Welcome to ArtBinder</h2>
  <h3>Sign Up</h3>
  <form action="/signup" method="POST">
    <p>Gallery Name: <input type="text" name="gallery_name"></p>
    <p>Email: <input type="text" name="email"></p>
    <p>Password: <input type="password" name="password"></p>
    <input type="submit" name="submit" value="Sign Up">
  </form>

<%end %>
